.appheader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
  background-color: white;
}

.appheader__buttons button {
  margin-right: 10px;
}
.appheader__signup {
  display: flex;
  flex-direction: column;
}
